@use '../helpers/functions' as *;
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-dark-light: #181823;
  --color-dark-grey: #5B6876;
  --color-light-gray: #8491A0;


  --color-peach-accent: #FFF3E4;
  --color-violet-accent: #FBE4FF;
  --color-green-accent: #3CC74E;
  --color-blue-accent: #609BFF;

  --button-purple: #5221E6;


  --font-family: 'Sen', sans-serif;

  --container-width: #{rem(1260)};
  --container-padding-x: #{rem(20)};

  --transition-duration:0.2s;

@include laptop {
  --container-width: #{rem(1260)};
}
}