@use '../helpers' as *;

body {
  @include fluid-text(18, 16);
  font-family: var(--font-family);
  color: var(--color-light-gray);
  letter-spacing: 0;
  background-color: var(--color-dark);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light);
  font-weight: 700;
}

h1, .h1 {
  @include fluid-text(78, 32);
}

h2, .h2 {
  @include fluid-text(55, 32);
}

h3, .h3 {
  @include fluid-text(24, 18);
}
