@use '../helpers/index' as *;

.philosophy {
  background: var(--color-peach-accent);

  &__inner {
    margin: 0 auto;
    max-width: rem(1440);
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__body {
    padding: rem(120) rem(70);
    @include laptop {
      padding: rem(80) rem(40);
    }

    @include mobile {
      padding: rem(48) rem(20);
    }
  }

  &__title {
    color: var(--color-dark);
    margin-bottom: rem(24);
  }

  &__description {
    margin-bottom: rem(134);

    @include laptop {
      margin-bottom: rem(67);
    }
    @include mobile {
      margin-bottom: rem(90);
    }
  }

  &__button {
    display: inline-block;
    color: var(--color-dark-light);
    text-decoration: none;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    padding-bottom: rem(5);

    &::before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: rem(1);
      background-color: var(--color-light-gray);
      transform-origin: center;
      transition: transform 0.9s ease;
    }

    @include hover {
      &::before {
        transform: scaleX(0.9);
        background-color: #8491A0;
        opacity: 0.7;
        height: rem(2);
      }
    }
  }


  &__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}





