@use 'functions' as *;


$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 576px;
$mobile-sm: 360px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-sm {
  @media (max-width: $mobile-sm) {
    @content;
  }
}


// @mixin hover($hasActiveEffectOnMobile: true)
// Используется для адаптивных hover-эффектов.
// На десктопе — :hover, на мобильных — :active (если $hasActiveEffectOnMobile = true)

@mixin hover($hasActiveEffectOnMobile: true) {
  @media(any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media(any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}