// ================================
// 🎨  DESIGN TOKENS (Root Variables)
// ================================
// Глобальные переменные проекта Robin.W:
// • Цветовая палитра
// • Типографика
// • Размеры контейнера
// • Транзишны и адаптивные точки
// ================================

@use 'functions' as *;
@use 'media' as *;

:root {


  /* 🅰️ Шрифты */
  --font-family: 'Sen', sans-serif;

  /* 📦 Контейнер */
  --container-width: #{rem(1170)}; /* контентная ширина макета (1170 - 2×135px) */
  --container-padding-x: #{rem(135)}; /* внутренние отступы по бокам */

  /* ⚡ Анимации */
  --transition-duration: 0.2s;

}

/*  desktop (≤ 1200px) */
@include desktop {
  :root {
    --container-width: #{rem(1024)};
    --container-padding-x: #{rem(60)};
  }
}

/*💻 laptop (≤ 1024)*/
@include laptop {
  :root {
    --container-width: #{rem(768)};
    --container-padding-x: #{rem(40)};
  }

}

/* 📱 tablet(≤ 768) */
@include tablet {
  :root {
    --container-width: 100%;
    --container-padding-x: #{rem(20)};
  }
}

